:root {
    --very-dark-grayish: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);


    --font-family: 'Manrope', sans-serif;
}

*,
*::before, 
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  max-width: 1440px;
  position: relative;
  font-size:  13px;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  width: 100%;
  display: block;
}
